@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

.cards {
  list-style-type: none;
}

.card {
  margin: 0;
}

.card-img {
  width: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.card-img img {
  margin: 0;
}

.card-body h2 {
  font-weight: normal;
}

.card-body p {
  font-weight: lighter;
}

ul {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 110%;
  }
}
